on early-boot 

    chmod 0660 /sys/class/leds/led:rgb_red/brightness
    chmod 0660 /sys/class/leds/led:rgb_green/brightness
    chmod 0660 /sys/class/leds/led:rgb_blue/brightness
    chmod 0660 /sys/class/leds/gpled_0/brightness
    chmod 0660 /sys/class/leds/gpled_1/brightness
    chmod 0660 /sys/class/leds/gpled_2/brightness
    chmod 0660 /sys/class/leds/gpled_3/brightness
    
    chown system radio /sys/class/leds/led:rgb_red/brightness
    chown system radio /sys/class/leds/led:rgb_green/brightness
    chown system radio /sys/class/leds/led:rgb_blue/brightness
    chown system radio /sys/class/leds/gpled_0/brightness
    chown system radio /sys/class/leds/gpled_1/brightness
    chown system radio /sys/class/leds/gpled_2/brightness
    chown system radio /sys/class/leds/gpled_3/brightness
    
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.ef56
    interface android.hardware.light@2.0::ILight default 
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical 
